In [9]:
import pandas as pd

sprot_data = pd.read_csv('../data/ec_new/swissprot_ec_complete.csv')
display(sprot_data)
entries, ecs = sprot_data['Entry'].tolist(), sprot_data['EC number'].tolist()
sprot_entry2ec = {entries[i]: set(ecs[i].split(';')) for i in range(len(entries))}
split100_data = pd.read_csv('/work/jiaqi/CLEAN_original/app/data/split100.csv', sep='\t')
display(split100_data)
split100_data = split100_data[split100_data['Entry'].isin(sprot_entry2ec.keys())]
display(split100_data)

def filter_condition(row):
    return sprot_entry2ec.get(row['Entry'], None) != set(row['EC number'].split(';'))
split100_data = split100_data[split100_data.apply(filter_condition, axis=1)]
split100_data.rename(columns={'EC number': 'EC number (CLEAN)'}, inplace=True)
split100_data['EC number (SWISSPROT)'] = split100_data['Entry'].apply(lambda x: ';'.join(list(sprot_entry2ec.get(x, ''))))
split100_data.drop(columns=['Sequence'], inplace=True)
display(split100_data)
split100_data.to_csv('../data/ec_new/split100_swissprot_different.tsv', index=False, sep='\t')

             Entry  EC number Date of creation
0       A0A009IHW8    3.2.2.6       2020-02-26
1       A0A023I7E1   3.2.1.39       2022-12-14
2       A0A024SC78   3.1.1.74       2022-05-25
3       A0A024SH76   3.2.1.91       2017-08-30
4       A0A044RE18  3.4.21.75       2017-05-10
...            ...        ...              ...
228546      Q6HX62    3.5.4.2       2004-08-16
228547      Q6L032    3.5.4.2       2004-08-16
228548      Q85055   2.7.7.48       2011-01-11
228549      Q94MV8   3.6.1.12       2004-08-16
228550      Q9J5H2   3.1.1.29       2001-08-29

[228551 rows x 3 columns]

,Entry,EC number,Sequence
0,P51451,2.7.10.2,MGLVSSKKPDKEKPIKEKDKGQWSPLKVSAQDKDAPPLPPLVVFNH...
1,C7C422,3.5.2.6,MELPNIMHPVAKLSTALAAALMLSGCMPGEIRPTIGQQMETGDQRF...
2,Q07457,2.3.2.27,MTAEPATKKIKLELSDPSEPLTQSDVIAFQKEALFRCINRRRVDFE...
3,Q07009,3.4.22.53,MAGIAMKLAKDREAAEGLGSHERAIKYLNQDYETLRNECLEAGALF...
4,Q9TTH8,3.4.22.54,MPTVISASVAPRTGAEPRSPGPIAQAAQGKGTEAGGGNPSGIYSAI...
...,...,...,...
227357,Q97HD1,3.1.11.6,MPSKKESYESMIKELEKIVSSMENEELPLEEAMKNYEDGVKLCDKL...
227358,A0A140CUL9,1.1.99.13,MAENNTYDAIVIGSGISGGWATKELTEKGLKTLMLERGRNIEHVKD...
227359,W6JQJ6,1.13.12.2,MNKNNRHPADGKKPITIFGPDFPFAFDDWLEHPAGLGSIPAARHGE...
227360,B3IVI7,3.5.1.30,MRIALYQGAPKPLDVPGNLQRLRHQAQLAAERGAQLLVCPEMFLTG...
227361,Q88QV2,3.5.1.30,MRIALYQGAPKPLDVPGNLQRLRHQAQLAADRGAQLLVCPEMFLSG...

,Entry,EC number,Sequence
0,P51451,2.7.10.2,MGLVSSKKPDKEKPIKEKDKGQWSPLKVSAQDKDAPPLPPLVVFNH...
1,C7C422,3.5.2.6,MELPNIMHPVAKLSTALAAALMLSGCMPGEIRPTIGQQMETGDQRF...
2,Q07457,2.3.2.27,MTAEPATKKIKLELSDPSEPLTQSDVIAFQKEALFRCINRRRVDFE...
3,Q07009,3.4.22.53,MAGIAMKLAKDREAAEGLGSHERAIKYLNQDYETLRNECLEAGALF...
4,Q9TTH8,3.4.22.54,MPTVISASVAPRTGAEPRSPGPIAQAAQGKGTEAGGGNPSGIYSAI...
...,...,...,...
227353,Q9KS00,4.2.1.59;5.3.3.14,MQNKRDSYNREDLLASSQGELFGEGYPQLPAPNMLMMDRITKMSET...
227354,B1KNT2,4.2.1.59,MSEQLNTMDIKEIMSFLPHRYPFLLIDRVLDYTPGETLHAIKNVTI...
227355,B9M0X4,3.1.11.6,MAVEKFETALKKLEEVVKKLEGGELSLEDSLKAFEEGIKQAAFCSK...
227356,Q325W0,4.2.1.59,MTTNTHTLQIEEILELLPHRFPFLLVDRVLDFEEGRFLRAVKNVSV...
227357,Q97HD1,3.1.11.6,MPSKKESYESMIKELEKIVSSMENEELPLEEAMKNYEDGVKLCDKL...

         Entry  EC number (CLEAN)       EC number (SWISSPROT)
6       P00917            4.2.1.1            4.2.1.1;4.2.1.69
27      P14618           2.7.1.40  2.7.1.40;2.7.11.1;2.7.10.2
155     Q9VL76           3.6.4.12                     5.6.2.3
156     Q96RR1           3.6.4.12                     5.6.2.3
157     Q8CIW5           3.6.4.12                     5.6.2.3
...        ...                ...                         ...
224823  O34746          2.3.1.180         2.3.1.300;2.3.1.180
226126  Q64565  2.6.1.44;2.6.1.40  2.6.1.40;2.6.1.44;2.6.1.18
226413  Q5NU32            1.4.3.4            1.4.3.4;1.4.3.21
226465  Q00972           2.7.11.4           2.7.11.1;2.7.11.4
226498  P15150          1.14.15.4         1.14.15.5;1.14.15.4

[1682 rows x 3 columns]

In [5]:
set([1, 2]) == set([2, 1, 3])

False

In [1]:
from sklearn.metrics import precision_score
import numpy as np

# Example data: true and predicted labels
y_true = np.array([
    [1, 0, 1],
    [0, 1, 0],
    [1, 1, 1]
])

y_pred = np.array([
    [1, 0, 0],
    [0, 1, 1],
    [1, 0, 1]
])

# Calculate precision score
# Choose average='micro', 'macro', 'weighted', or None
precision = precision_score(y_true, y_pred, average='micro')

print(f"Precision Score (Micro): {precision}")

Precision Score (Micro): 0.8

In [4]:
from Bio import SeqIO
import pandas as pd

records = list(SeqIO.parse('../data/swissprot/uniprot_sprot_10_1022_cleaned.fasta', 'fasta'))
pid2seq = {record.id: str(record.seq) for record in records}
data = pd.read_csv('../data/ec_new/swissprot_ec_complete_after_2022-05-25_filtered.csv')
data['Sequence'] = data['Entry'].apply(lambda x: pid2seq.get(x, ''))
data.to_csv('../data/ec_new/swissprot_ec_complete_after_2022-05-25_filtered_with_sequence.csv', index=False)

In [5]:
import pandas as pd

test_df = pd.read_csv('../data/gene3D_new/swissprot_gene3D_after_2022-05-25_filtered.csv')
lookup_df = pd.read_csv('/work/jiaqi/protein-vec/src_run/protein_vec_embeddings/lookup_embeddings_meta_data.tsv', sep='\t')
test_pids = test_df['Entry'].tolist()
lookup_pids = lookup_df['Entry'].tolist()
set(test_pids) & set(lookup_pids)

set()

In [13]:
df = pd.read_csv('/work/jiaqi/protein-vec/src_run/protein_vec_embeddings/lookup_embeddings_meta_data.tsv', sep='\t')
df = df[df['Gene3D'].notnull()]
entries = df['Entry'].tolist()
gene3d = df['Gene3D'].tolist()
entry2gene3d = {entries[i]: gene3d[i].strip(';').split(';') for i in range(len(entries))}
for k in entry2gene3d:
    if set(entry2gene3d[k]) == {'3.40.50.620', '3.10.400.10', '3.40.50.300'}:
        print(k, entry2gene3d[k])

A1CJC1 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
A1D858 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
A9ENT2 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
A9G7W0 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
O43252 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
O54820 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
O67174 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
O88428 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
O95340 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
P08536 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
P0CN04 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
P0CN05 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
P56862 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
P78937 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
Q0CC19 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
Q0V6P9 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
Q12555 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
Q12650 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
Q1EAF9 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
Q27128 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
Q2H454 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
Q4I1N3 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
Q4P460 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
Q4WWN8 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
Q60967 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
Q6BSU5 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
Q6CFD2 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
Q6CNU6 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
Q6FXQ8 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
Q74ZF6 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
Q7SE75 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
Q8J0I4 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
Q8NJN1 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
Q8NK83 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
Q8TG24 ['3.40.50.620', '3.40.50.300', '3.10.400.10']
Q9Y872 ['3.40.50.620', '3.40.50.300', '3.10.400.10']

In [14]:
df[df['Entry'] == 'A1CJC1']

,Unnamed: 0,Entry,Reviewed,Entry Name,Protein names,Gene Names,Organism,Length,Gene Ontology (biological process),Gene Ontology (cellular component),Gene Ontology (molecular function),Gene Ontology (GO),EC number,Sequence,Date of creation,Gene3D,Pfam
11571,11571,A1CJC1,reviewed,MET3_ASPCL,Sulfate adenylyltransferase (EC 2.7.7.4) (ATP-...,met3 ACLA_034480,Aspergillus clavatus (strain ATCC 1007 / CBS 5...,574,cysteine biosynthetic process [GO:0019344]; hy...,cytoplasm [GO:0005737],adenylylsulfate kinase activity [GO:0004020]; ...,cytoplasm [GO:0005737]; adenylylsulfate kinase...,2.7.7.4,MSNPPHGGVLKDLLARDAPRHDQLETEAEQLPAIVLTERQLCDLEL...,2007-04-03,3.40.50.620;3.40.50.300;3.10.400.10;,PF01583;PF01747;PF14306;

In [1]:
import pandas as pd
import torch

lookup_data = torch.load('/work/jiaqi/ProtRepr/data/ec_new/swissprot_ec_complete_by2022-05-25.pt')
test_data = torch.load('/work/jiaqi/ProtRepr/data/ec_new/swissprot_ec_complete_after_2022-05-25_filtered.pt')
label_name = 'ec'
lookup_labels = [set(v[label_name]) for v in lookup_data.values()]
test_labels = [set(v[label_name]) for v in test_data.values()]
print(f'Lookup: {len(lookup_labels)}, Test: {len(test_labels)}')
occured_multilabel = 0
num_multilabel = 0
for i in range(len(test_labels)):
    if len(test_labels[i]) > 1 and test_labels[i] in lookup_labels:
        occured_multilabel += 1
    if len(test_labels[i]) > 1:
        num_multilabel += 1
print(f'Occured multilabel: {occured_multilabel}, multilabel: {num_multilabel}, percentage in total: {occured_multilabel / len(test_labels)}, percentage in multilabel: {occured_multilabel / num_multilabel}, multilabel percentage: {num_multilabel / len(test_labels)}')

Lookup: 227839, Test: 571
Occured multilabel: 37, multilabel: 60, percentage in total: 0.0647985989492119, percentage in multilabel: 0.6166666666666667, multilabel percentage: 0.10507880910683012

In [2]:
import pandas as pd
import torch

lookup_data = torch.load('/work/jiaqi/ProtRepr/data/gene3D_new/swissprot_gene3D_by2022-05-25.pt')
test_data = torch.load('/work/jiaqi/ProtRepr/data/gene3D_new/swissprot_gene3D_after_2022-05-25_filtered.pt')
label_name = 'gene3D'
lookup_labels = [set(v[label_name]) for v in lookup_data.values()]
test_labels = [set(v[label_name]) for v in test_data.values()]
print(f'Lookup: {len(lookup_labels)}, Test: {len(test_labels)}')
occured_multilabel = 0
num_multilabel = 0
for i in range(len(test_labels)):
    if len(test_labels[i]) > 1 and test_labels[i] in lookup_labels:
        occured_multilabel += 1
    if len(test_labels[i]) > 1:
        num_multilabel += 1
print(f'Occured multilabel: {occured_multilabel}, multilabel: {num_multilabel}, percentage in total: {occured_multilabel / len(test_labels)}, percentage in multilabel: {occured_multilabel / num_multilabel}, multilabel percentage: {num_multilabel / len(test_labels)}')

Lookup: 440743, Test: 2058
Occured multilabel: 522, multilabel: 563, percentage in total: 0.2536443148688047, percentage in multilabel: 0.9271758436944938, multilabel percentage: 0.27356656948493685

In [3]:
import pandas as pd
import torch

lookup_data = torch.load('/work/jiaqi/ProtRepr/data/pfam_new/swissprot_pfam_by2022-05-25.pt')
test_data = torch.load('/work/jiaqi/ProtRepr/data/pfam_new/swissprot_pfam_after_2022-05-25_filtered.pt')
label_name = 'pfam'
lookup_labels = [set(v[label_name]) for v in lookup_data.values()]
test_labels = [set(v[label_name]) for v in test_data.values()]
print(f'Lookup: {len(lookup_labels)}, Test: {len(test_labels)}')
occured_multilabel = 0
num_multilabel = 0
for i in range(len(test_labels)):
    if len(test_labels[i]) > 1 and test_labels[i] in lookup_labels:
        occured_multilabel += 1
    if len(test_labels[i]) > 1:
        num_multilabel += 1
print(f'Occured multilabel: {occured_multilabel}, multilabel: {num_multilabel}, percentage in total: {occured_multilabel / len(test_labels)}, percentage in multilabel: {occured_multilabel / num_multilabel}, multilabel percentage: {num_multilabel / len(test_labels)}')

Lookup: 520636, Test: 2405
Occured multilabel: 572, multilabel: 636, percentage in total: 0.23783783783783785, percentage in multilabel: 0.89937106918239, multilabel percentage: 0.26444906444906446

In [7]:
from Bio import SeqIO
import pandas as pd

records = list(SeqIO.parse('../data/swissprot/uniprot_sprot_10_1022_cleaned.fasta', 'fasta'))
pid2seq = {record.id: str(record.seq) for record in records}
data = pd.read_csv('../data/pfam_new/swissprot_pfam_by2022-05-25.csv')
data['Sequence'] = data['Entry'].apply(lambda x: pid2seq.get(x, ''))
data.to_csv('../data/pfam_new/swissprot_pfam_by2022-05-25_with_sequence.csv', index=False)
# split data evenly to two part
data1 = data.iloc[:len(data) // 2]
data2 = data.iloc[len(data) // 2:]
data1.to_csv('../data/pfam_new/swissprot_pfam_by2022-05-25_with_sequence_split1.csv', index=False)
data2.to_csv('../data/pfam_new/swissprot_pfam_by2022-05-25_with_sequence_split2.csv', index=False)
print(len(data), len(data1), len(data2))

520636 260318 260318

In [2]:
' '.join("123")

'1 2 3'

In [3]:
import numpy as np

data = np.load('/work/jiaqi/protein-vec/src_run/protein_vec_embeddings/lookup_embeddings.npy')
data.shape

(540560, 512)

In [5]:
import torch

a = torch.ones(2, 3)
b= torch.zeros(3,4).to('cuda:1')
a.to(b)

tensor([[1., 1., 1.],
        [1., 1., 1.]], device='cuda:1')

In [1]:
'A' * 1022

'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA'

In [2]:
import numpy as np

data1 = np.load('/work/jiaqi/protein-vec/src_run/protein_vec_embeddings/lookup_embeddings_pfam_split1.npy')
data2 = np.load('/work/jiaqi/protein-vec/src_run/protein_vec_embeddings/lookup_embeddings_pfam_split2.npy')
print(data1.shape, data2.shape)
data_merged = np.concatenate([data1, data2], axis=0)
print(data_merged.shape)
np.save('/work/jiaqi/protein-vec/src_run/protein_vec_embeddings/lookup_embeddings_pfam.npy', data_merged)

(260318, 512) (260318, 512)
(520636, 512)

In [1]:
import torch

data =torch.load('../data/sprot_esm1b_emb/A0A023I7E1.pt')
data

{'label': 'A0A023I7E1',
 'mean_representations': {33: tensor([ 0.0056,  0.1870,  0.1281,  ...,  0.0731, -0.1062,  0.1210])}}