In [1]:
import pandas as pd
# display dataframes
from IPython.display import display
import json
from Bio import SeqIO
# for the EC number column in each row, do this: split by ';', then remove those EC numbers that contain '-', if all EC numbers are removed, then return NaN
def filter_ec(ec):
    if pd.isnull(ec):
        return ec
    ec = ec.split(';')
    ec = [e.strip() for e in ec if '-' not in e]
    if len(ec) == 0:
        return None
    return ';'.join(ec)

records = SeqIO.parse('../data/swissprot/uniprot_sprot_10_1022_cleaned.fasta', 'fasta')
sprot_10_1022_pids = [record.id for record in records]

sprot_data = pd.read_csv('../data/swissprot/swissprot.tsv', sep='\t')
print(f'before filter: {sprot_data.shape} rows')
sprot_data = sprot_data[sprot_data['Entry'].isin(sprot_10_1022_pids)]
print(f'after filter: {sprot_data.shape} rows')
ec_data = sprot_data[['Entry', 'EC number', 'Date of creation']]
ec_data = ec_data.dropna().reset_index(drop=True) # 275533 rows × 3 columns
ec_data['EC number'] = ec_data['EC number'].apply(filter_ec)
ec_data = ec_data.dropna().reset_index(drop=True) # 236104 rows × 3 columns
display(ec_data)
ec_data.to_csv('../data/ec_new/swissprot_ec_complete.csv', index=False)

# filter rows with Date of creation by 2022-05-25, including 2022-05-25
ec_data['Date of creation'] = pd.to_datetime(ec_data['Date of creation'])
ec_data_before_2022April = ec_data[ec_data['Date of creation'] <= '2022-05-25'].reset_index(drop=True) 
ec_data_after_2022April = ec_data[ec_data['Date of creation'] > '2022-05-25'].reset_index(drop=True)
display(ec_data_before_2022April)
display(ec_data_after_2022April)
ec_data_before_2022April.to_csv('../data/ec_new/swissprot_ec_complete_by2022-05-25.csv', index=False)
ec_data_after_2022April.to_csv('../data/ec_new/swissprot_ec_complete_after_2022-05-25.csv', index=False)

ec_nums_before_2022April = ec_data_before_2022April['EC number'].tolist()
ec_nums_before_2022April = ';'.join(ec_nums_before_2022April)
ec_nums_before_2022April = list(set(ec_nums_before_2022April.split(';')))
with open('../data/ec_new/ec_list_by2022-05-25.json', 'w') as f:
    json.dump(ec_nums_before_2022April, f)

before filter: (570830, 8) rows
after filter: (551965, 8) rows

             Entry  EC number Date of creation
0       A0A009IHW8    3.2.2.6       2020-02-26
1       A0A023I7E1   3.2.1.39       2022-12-14
2       A0A024SC78   3.1.1.74       2022-05-25
3       A0A024SH76   3.2.1.91       2017-08-30
4       A0A044RE18  3.4.21.75       2017-05-10
...            ...        ...              ...
228546      Q6HX62    3.5.4.2       2004-08-16
228547      Q6L032    3.5.4.2       2004-08-16
228548      Q85055   2.7.7.48       2011-01-11
228549      Q94MV8   3.6.1.12       2004-08-16
228550      Q9J5H2   3.1.1.29       2001-08-29

[228551 rows x 3 columns]

             Entry  EC number Date of creation
0       A0A009IHW8    3.2.2.6       2020-02-26
1       A0A024SC78   3.1.1.74       2022-05-25
2       A0A024SH76   3.2.1.91       2017-08-30
3       A0A044RE18  3.4.21.75       2017-05-10
4       A0A059TC02   1.2.1.44       2020-12-02
...            ...        ...              ...
227834      Q6HX62    3.5.4.2       2004-08-16
227835      Q6L032    3.5.4.2       2004-08-16
227836      Q85055   2.7.7.48       2011-01-11
227837      Q94MV8   3.6.1.12       2004-08-16
227838      Q9J5H2   3.1.1.29       2001-08-29

[227839 rows x 3 columns]

          Entry         EC number Date of creation
0    A0A023I7E1          3.2.1.39       2022-12-14
1    A0A061AE05  2.7.1.25;2.7.7.4       2023-02-22
2    A0A072VDF2          1.2.1.44       2023-02-22
3    A0A0D2Y5A7          2.3.1.12       2023-05-03
4    A0A0H2Z7X0          2.7.7.65       2023-06-28
..          ...               ...              ...
707      Q2G5J4       1.14.14.181       2023-11-08
708      Q4J8K8          3.6.4.12       2024-01-24
709      Q5SKU3          4.2.1.17       2023-09-13
710      Q5VVH2           5.2.1.8       2023-02-22
711      R4LHX8          2.5.1.63       2023-09-13

[712 rows x 3 columns]

In [2]:
import pandas as pd
import json

def all_in_list(ec_string, valid_list):
    ec_list = ec_string.split(';')
    return all(ec in valid_list for ec in ec_list)

with open('../data/ec_new/ec_list_by2022-05-25.json', 'r') as f:
    ec_nums_before_2022April = json.load(f)
ec_data_after_2022April = pd.read_csv('../data/ec_new/swissprot_ec_complete_after_2022-05-25.csv')
ec_data_after_2022April_filtered = ec_data_after_2022April[ec_data_after_2022April['EC number'].apply(all_in_list, valid_list=ec_nums_before_2022April)].reset_index(drop=True)
display(ec_data_after_2022April_filtered)
ec_data_after_2022April_filtered.to_csv('../data/ec_new/swissprot_ec_complete_after_2022-05-25_filtered.csv', index=False)

          Entry         EC number Date of creation
0    A0A023I7E1          3.2.1.39       2022-12-14
1    A0A061AE05  2.7.1.25;2.7.7.4       2023-02-22
2    A0A072VDF2          1.2.1.44       2023-02-22
3    A0A0D2Y5A7          2.3.1.12       2023-05-03
4    A0A0H2Z7X0          2.7.7.65       2023-06-28
..          ...               ...              ...
566      P9WES7          4.4.1.17       2022-10-12
567      Q4J8K8          3.6.4.12       2024-01-24
568      Q5SKU3          4.2.1.17       2023-09-13
569      Q5VVH2           5.2.1.8       2023-02-22
570      R4LHX8          2.5.1.63       2023-09-13

[571 rows x 3 columns]

In [3]:
from tqdm.auto import tqdm
import os
import torch

def csv2pt(csv_path, pt_path, data_dir):
    df = pd.read_csv(csv_path)
    pids = df['Entry'].tolist()
    ecs = df['EC number'].tolist()
    data = {}
    for pid, ec in tqdm(list(zip(pids, ecs))):
        emb = torch.load(os.path.join(data_dir, f'{pid}.pt'))['mean_representations'][33]
        labels = ec.split(';')
        data[pid] = {'embedding': emb, 'ec': labels}
    print(f'data: {len(data)}')
    torch.save(data, pt_path)
    print(f'saved to {pt_path}')

data_dir = '../data/sprot_esm1b_emb_per_residue'
csv2pt('../data/ec_new/swissprot_ec_complete_by2022-05-25.csv', '../data/ec_new/swissprot_ec_complete_by2022-05-25.pt', data_dir)
csv2pt('../data/ec_new/swissprot_ec_complete_after_2022-05-25_filtered.csv', '../data/ec_new/swissprot_ec_complete_after_2022-05-25_filtered.pt', data_dir)

/work/jiaqi/software/miniconda3/envs/protrepr/lib/python3.8/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
100%|██████████| 227839/227839 [08:07<00:00, 466.98it/s]

data: 227839
saved to ../data/ec_new/swissprot_ec_complete_by2022-05-25.pt

100%|██████████| 571/571 [00:02<00:00, 269.99it/s]

data: 571
saved to ../data/ec_new/swissprot_ec_complete_after_2022-05-25_filtered.pt

In [2]:
ec_nums_before_2022April = ec_data_before_2022April['EC number'].tolist()
ec_nums_before_2022April = ';'.join(ec_nums_before_2022April)
ec_nums_before_2022April = list(set(ec_nums_before_2022April.split(';')))
print(f'num_ecs_before_2022April: {len(ec_nums_before_2022April)}')

ec_nums_after_2022April = ec_data_after_2022April['EC number'].tolist()
ec_nums_after_2022April = ';'.join(ec_nums_after_2022April)
ec_nums_after_2022April = list(set(ec_nums_after_2022April.split(';')))
print(f'num_ecs_after_2022April: {len(ec_nums_after_2022April)}')

diff_ecs = list(set(ec_nums_after_2022April) - set(ec_nums_before_2022April))
print(f'num_diff_ecs: {len(diff_ecs)}')
print(diff_ecs)

num_ecs_before_2022April: 5416
num_ecs_after_2022April: 513
num_diff_ecs: 105
['1.14.13.248', '1.14.11.71', '1.14.19.58', '2.1.1.380', '1.1.1.429', '4.2.1.180', '1.4.2.2', '4.3.99.5', '3.5.3.13', '1.14.13.246', '2.1.1.82', '2.4.1.358', '3.1.1.120', '2.1.1.76', '5.3.1.37', '2.1.1.383', '1.14.13.251', '4.2.3.160', '1.5.3.5', '1.14.15.38', '2.1.1.381', '1.13.11.89', '3.5.1.20', '2.2.1.14', '1.3.3.8', '4.2.3.177', '1.1.1.417', '4.8.1.7', '1.12.1.4', '2.5.1.102', '3.4.21.121', '6.7.1.1', '2.4.1.341', '6.2.1.60', '1.20.99.1', '4.1.1.115', '3.1.1.110', '1.17.99.8', '1.1.1.425', '1.14.13.250', '1.14.19.60', '3.1.6.19', '1.14.14.174', '3.5.1.68', '1.4.1.19', '4.2.3.200', '1.14.13.187', '1.14.99.55', '1.14.14.181', '5.4.99.64', '4.2.1.177', '5.1.1.14', '1.5.7.3', '2.5.1.38', '1.13.11.88', '4.8.1.8', '4.4.1.41', '1.14.19.48', '3.5.1.84', '1.1.1.432', '1.13.11.59', '1.1.1.435', '2.2.1.15', '3.2.1.213', '3.1.3.33', '2.3.1.145', '1.14.14.171', '1.14.13.249', '4.1.99.27', '1.14.11.72', '2.1.2.7', '3.6.1.76', '2.8.3.28', '1.14.19.59', '2.1.3.16', '1.13.11.86', '2.5.1.35', '1.12.98.3', '1.4.1.28', '1.14.13.229', '1.1.1.272', '4.1.2.32', '1.14.19.74', '2.1.1.75', '3.1.1.113', '7.4.2.13', '1.4.3.11', '1.14.11.58', '2.4.1.343', '2.1.1.155', '4.8.1.2', '1.3.3.17', '4.2.3.161', '1.14.13.215', '3.2.1.140', '2.4.1.371', '1.13.11.90', '1.1.1.427', '6.2.1.75', '1.1.1.198', '2.4.1.349', '4.2.1.123', '4.6.1.26', '4.6.1.6', '1.14.14.173']

In [16]:
ec_nums = ec_data_before_2022April['EC number'].tolist()
ec_nums = ';'.join(ec_nums)
ec_nums = list(set(ec_nums.split(';')))
print(f'num_ecs: {len(ec_nums)}')

df_CLEAN = pd.read_csv('/work/jiaqi/CLEAN_original/app/data/split100.csv', sep='\t')
ec_nums_CLEAN = df_CLEAN['EC number'].tolist()
ec_nums_CLEAN = ';'.join(ec_nums_CLEAN)
ec_nums_CLEAN = list(set(ec_nums_CLEAN.split(';')))

diff_ecs = set(ec_nums) - set(ec_nums_CLEAN)
print(f'num_diff_ecs: {len(diff_ecs)}')
print(diff_ecs)

# P82604,4.8.1.4,2003-09-19 in ours
# P82604	4.99.1.7 in CLEAN split100
# filter out rows with EC number containing any of the EC numbers in diff_ecs
# diff_ec_data = ec_data_before_2022April[]

num_ecs: 5416
num_diff_ecs: 214
{'4.8.1.4', '5.1.1.11', '2.4.3.6', '2.3.1.237', '3.4.24.13', '2.3.1.306', '3.1.3.35', '6.2.1.68', '2.4.1.183', '1.14.14.22', '2.4.99.24', '3.6.1.75', '2.3.1.94', '7.2.2.18', '1.14.15.36', '2.1.1.386', '1.3.99.41', '2.3.1.38', '1.17.3.2', '2.4.3.9', '4.8.1.6', '1.14.13.200', '2.3.1.62', '3.4.21.122', '3.4.22.66', '4.98.1.1', '2.4.1.333', '4.3.2.11', '1.14.11.82', '1.1.1.78', '1.14.19.79', '7.2.2.22', '3.1.1.71', '4.1.1.93', '1.1.1.104', '3.4.23.47', '1.7.1.9', '1.14.15.26', '1.2.1.51', '2.7.7.108', '3.4.24.79', '1.1.1.71', '2.1.1.379', '6.1.1.24', '2.1.1.376', '2.3.3.21', '2.7.1.237', '3.2.1.97', '6.3.2.50', '1.5.3.24', '2.7.1.52', '2.4.99.23', '3.7.1.28', '3.2.1.187', '1.14.14.180', '2.6.1.28', '7.2.3.1', '1.14.14.184', '5.6.2.3', '2.7.1.93', '1.14.11.68', '6.2.1.67', '2.3.1.308', '3.1.26.13', '2.7.1.154', '3.1.3.52', '3.4.21.98', '3.4.22.47', '3.4.24.61', '6.3.2.40', '1.10.3.17', '3.2.2.7', '1.13.11.92', '2.3.1.165', '4.6.1.22', '3.4.19.6', '2.7.1.235', '2.7.4.4', '3.4.21.91', '6.2.1.76', '6.3.4.25', '4.1.1.71', '5.6.2.4', '1.7.2.9', '2.7.1.46', '3.4.22.49', '3.4.22.69', '1.2.1.30', '2.1.1.12', '2.4.1.34', '2.7.1.211', '3.13.2.3', '2.1.1.387', '3.2.1.158', '1.14.14.178', '3.4.24.14', '3.4.24.68', '1.1.1.436', '2.3.1.221', '3.6.5.4', '1.1.1.75', '3.2.1.114', '1.14.13.32', '3.2.1.202', '2.7.1.229', '2.4.3.8', '3.2.1.33', '7.4.2.14', '1.14.14.179', '2.4.99.25', '4.2.3.206', '1.2.1.95', '1.13.11.60', '5.4.4.5', '4.1.1.38', '3.4.14.14', '1.13.11.62', '2.5.1.154', '3.4.22.46', '2.4.3.2', '1.14.15.27', '2.4.3.1', '2.3.1.252', '2.4.3.3', '7.2.2.2', '4.4.1.42', '1.14.13.211', '2.1.1.370', '3.1.7.13', '1.4.1.14', '1.1.1.437', '1.2.1.60', '2.7.1.233', '2.7.1.150', '1.16.3.4', '1.14.11.80', '2.6.1.121', '3.4.24.87', '5.6.1.6', '5.4.99.13', '1.5.1.53', '1.21.3.10', '6.3.4.6', '4.4.1.38', '3.4.21.72', '7.2.2.3', '1.5.98.3', '2.2.1.5', '1.14.11.77', '2.1.1.371', '6.2.1.63', '1.2.3.14', '1.14.13.225', '2.4.3.4', '2.7.8.48', '4.8.1.5', '5.6.1.4', '3.1.13.2', '7.4.2.7', '7.2.2.19', '3.13.2.1', '3.1.1.118', '1.14.14.182', '1.5.1.54', '3.4.11.3', '4.2.3.211', '2.8.4.6', '2.3.1.111', '1.14.14.170', '1.14.11.81', '2.1.1.378', '3.4.21.113', '1.13.11.40', '2.7.2.19', '1.13.12.18', '2.3.1.236', '3.1.6.21', '3.4.21.96', '2.7.11.34', '2.7.9.5', '2.4.3.7', '3.4.21.110', '3.2.1.92', '3.4.22.29', '3.2.1.62', '2.3.1.244', '1.1.1.433', '2.7.8.17', '6.2.1.66', '2.3.2.33', '3.4.21.112', '4.8.1.3', '2.3.1.235', '1.2.3.7', '2.3.1.295', '2.3.1.287', '3.2.1.108', '2.3.1.240', '2.3.1.300', '1.13.11.93', '1.14.14.21', '1.14.11.78', '1.4.2.3', '2.7.9.4', '2.8.2.40', '2.3.1.301', '2.4.1.73', '2.6.1.124', '3.4.24.69', '1.14.11.79', '5.4.4.6', '2.3.1.292', '2.3.1.239', '6.2.1.69'}

In [7]:
ec_nums_after_filtered = ec_data_after_2022April_filtered['EC number'].tolist()
ec_nums_after_filtered = ';'.join(ec_nums_after_filtered)
ec_nums_after_filtered = list(set(ec_nums_after_filtered.split(';')))

diff = set(ec_nums_after_filtered) - set(ec_nums_before_2022April)
diff

set()

In [14]:
import pandas as pd

df = pd.read_csv('/work/jiaqi/CLEAN_original/app/data/split100.csv', sep='\t')
sequences = df['Sequence'].tolist()
seq_lens = [len(seq) for seq in sequences]
print(f'min seq len: {min(seq_lens)}, max seq len: {max(seq_lens)}')
num_le10 = sum(1 for l in seq_lens if l < 10)
print(f'num seq len < 10: {num_le10}')

min seq len: 4, max seq len: 1022
num seq len < 10: 43

In [13]:
recs = SeqIO.parse('/work/jiaqi/ProtRepr/data/swissprot/uniprot_sprot_10_1022_cleaned.fasta', 'fasta')
seq_lens = [len(rec.seq) for rec in recs]
print(f'min seq len: {min(seq_lens)}, max seq len: {max(seq_lens)}')

min seq len: 10, max seq len: 1022

In [18]:
with open('../data/ec_new/ec_list_before_2022April.json') as f:
    label_list = json.load(f)
len(label_list)

5321

In [4]:
import torch
import random

random.seed(42)
data = torch.load('../data/ec_new/swissprot_ec_complete_by2022-05-25.pt')
print(f'data: {len(data)}')
pids = list(data.keys())
random.shuffle(pids)
train_pids = pids[:int(0.9*len(pids))]
val_pids = pids[int(0.9*len(pids)):]
train_data = {pid: data[pid] for pid in train_pids}
val_data = {pid: data[pid] for pid in val_pids}
print(f'train: {len(train_data)}, val: {len(val_data)}')
torch.save(train_data, '../data/ec_new/swissprot_ec_complete_by2022-05-25_train.pt')
torch.save(val_data, '../data/ec_new/swissprot_ec_complete_by2022-05-25_val.pt')

data: 227839
train: 205055, val: 22784

In [5]:
import pandas as pd
from Bio import SeqIO

train_data = pd.read_csv('../data/ec_new/swissprot_ec_complete_by2022-05-25.csv')
test_data = pd.read_csv('../data/ec_new/swissprot_ec_complete_after_2022-05-25_filtered.csv')
records = SeqIO.parse('../data/swissprot/uniprot_sprot_10_1022_cleaned.fasta', 'fasta')
pid2seq = {record.id: str(record.seq) for record in records}
train_data['Sequence'] = train_data['Entry'].apply(lambda x: pid2seq[x])
test_data['Sequence'] = test_data['Entry'].apply(lambda x: pid2seq[x])
train_data = train_data.drop(columns=['Date of creation'])
test_data = test_data.drop(columns=['Date of creation'])
train_data.to_csv('/work/jiaqi/CLEAN_original/app/data/swissprot_ec_complete_by2022-05-25.csv', index=False, sep='\t')
test_data.to_csv('/work/jiaqi/CLEAN_original/app/data/swissprot_ec_complete_after_2022-05-25_filtered.csv', index=False, sep='\t')

In [6]:
test_pids = test_data['Entry'].tolist()
test_seqs = test_data['Sequence'].tolist()
test_fasta = '\n'.join([f'>{pid}\n{seq}' for pid, seq in zip(test_pids, test_seqs)])
with open('/work/jiaqi/CLEAN_original/app/data/inputs/swissprot_ec_complete_after_2022-05-25_filtered.fasta', 'w') as f:
    f.write(test_fasta)

In [7]:
train_pids = train_data['Entry'].tolist()
test_pids = test_data['Entry'].tolist()
pids = train_pids + test_pids
num_cp = 0
for pid in pids:
    if not os.path.exists(f'/work/jiaqi/CLEAN_original/app/data/esm_data/{pid}.pt'):
        os.system(f'cp /work/jiaqi/ProtRepr/data/sprot_esm1b_emb_per_residue/{pid}.pt /work/jiaqi/CLEAN_original/app/data/esm_data/{pid}.pt')
        num_cp += 1
print(f'num_cp: {num_cp}')

num_cp: 27